@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Hurricane&family=Roboto&display=swap');

.darkTheme {
    --BackgroundPrimary: hsl(250, 13%, 9%);
    --BackgroundSecondary: hsl(250, 13%, 13%);
    --FontColor: hsl(194, 20%, 70%);
    --FontHeaderColor: hsl(0, 0%, 100%);
    --AccentColor: hsl(136, 36%, 47%);
}

.lightTheme {
    --BackgroundPrimary: white;
    --BackgroundSecondary: hsl(0, 0%, 95%);
    --FontColor: hsl(225, 20%, 20%);
    --FontHeaderColor: black;
    --AccentColor: hsl(9, 83%, 58%);
    
}


body {
    margin: 0;
    padding: 0;
    --navHeight: 50px;
    background: var(--BackgroundPrimary);
    color: var(--FontColor);
    font-family: 'Roboto', sans-serif;
    transition: .6s;
    z-index: 1;
}

/*generic classes*/
.cursive {
    font-family: 'Hurricane', cursive;
}
.courier {
    font-family: 'Courier Prime', monospace;
}
.accentColor {
    color: var(--AccentColor);
}
.bigHeader {
    color: var(--FontHeaderColor);
    font-size: clamp(40px, 8vw, 80px);
    transition: .6s;
    margin: 0;
}
.header {
    margin: 0;
    color: var(--FontHeaderColor);
    font-size: clamp(30px, 6vw, 70px);
    transition: 0.6s;
    border-bottom: 2px solid var(--AccentColor);
    
}
.subHeader {
    color: var(--FontHeaderColor);
    font-size: clamp(20px, 4vw, 60px);
}


/*Navbar styles*/ 
nav {
    height: var(--navHeight);
    width: 100%;
    background: var(--BackgroundPrimary);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    transition: transform 0.3s;
}
nav div, nav span {
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
}
nav div:hover, nav span:hover {
    color: var(--AccentColor);
}
.navHidden {
    transform: translateY(calc(-1 * var(--navHeight)));
}

/*content area styles*/
#content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#content section {
    margin: 0px 15px;
    padding: 100px 0px;
    max-width: 650px;

}

/*particle container*/
#particles-js {
    position: absolute;
    height: calc(100% - 50px);
    width: 100%;
    z-index: -999;
}

/*Hero section styles*/
#hero {
    height: max(350px, 100vh - 250px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero * {
    background: var(--BackgroundPrimary);
    box-shadow: 0 0 10px 10px var(--BackgroundPrimary);
    width: fit-content;
    border-radius: 5px;
    transition: .6s;
    margin: 15px 0;
}

#ctaBtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .5vh 4vw;
    font-size: 20px;
    border: 3px solid var(--AccentColor);
    cursor: pointer;
    user-select: none;
}
#ctaBtn div {
    background: rgba(0, 0, 0, 0);
    box-shadow: none;
    animation: bounce 10s ease-out 3s infinite;
}

#ctaBtn span {
    transition: .4s;
    box-shadow: none;
    background: rgba(0, 0, 0, 0);
}
#ctaBtn:hover {
    background: var(--AccentColor);
    color: var(--FontHeaderColor);

}
#ctaBtn:hover span{
    transform: rotate(90deg);
}


/*About me Section styles*/
.skillsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.skillCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    width: clamp( 150px ,15vw, 185px);
    margin: 10px;
    border-radius: 5px;
    background: var(--BackgroundSecondary);
    transition: .6s;
}
.skillCard img {
    height: 100px;
    width: 100px;
}

/* Projects Section styles*/
.carousel-cell {
    width: 100%;
    height: auto;
    margin-right: 10px;
    border-radius: 5px;
}

/*Contact Section styles*/
.contactLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactLinks a {
    color: var(--AccentColor);
    margin: 15px;
    font-size: 18px;
}
.contactMethod {
    width: 75%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.methodIcon {
    height: 30px;
    width: 30px;
    transition: .4s;
}
.darkTheme .methodIcon {
    filter: invert(1);
}

p {
    font-size: 20px;
}

/*Animations*/
@keyframes slideUp {
    0% {
        transform: translateY(50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes bounce {
    
    5%, 15% {
        transform: translateY(-3px);
    }
    10% {
        transform: translateY(0px);
    }
    20%{
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}